<div class="contactsContainer">
  <mat-card class="contactsCard">
    <div>
      <img
        class="contactsCardImg"
        mat-card-image
        src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        alt="Photo of a Shiba Inu"
      />
    </div>
    <div>
      <mat-card-content>
        <div class="contactSection">
          <div class="contactsItaly">
            <p>Italy:</p>
            <p>Cremona - Italy</p>
            <p>Cell (WhatsApp):</p>
          </div>
          <div class="emails">
            <p>Email: <a href="mailto:violinosuqi@gmail.com">violinmaking@gmail.com</a></p>
          </div>
        </div>
      </mat-card-content>
    </div>
  </mat-card>
</div>
