<div class="contactsContainer">
  <mat-card class="contactsCard">
    <div>
      <img
        class="contactsCardImg"
        mat-card-image
        src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        alt="Photo of a Shiba Inu"
      />
    </div>
    <div>
      <mat-card-content>
        <div class="contactSection">
          <div class="contactsChina">
            <p>China</p>
            <p>地址：福建省厦门市思明区梧村街道东坪二里 154号601室</p>
            <p>邮编：361004</p>
            <p>电话：+86-592-5071639</p>
            <p>手机 (WeChat)：+86-13799747731 (Cina)</p>
          </div>
          <div class="contactsItaly">
            <p>Italy:</p>
            <p>Via Volturno n.49 26100 - Cremona - Italy</p>
            <p>Cell (WhatsApp): +39 - 339.64.25.412 (意大利)</p>
          </div>
          <div class="emails">
            <p>Email: <a href="mailto:violinosuqi@gmail.com">violinosuqi@gmail.com</a></p>
            <p>Email: <a href="mailto:violinosuqi@sina.com">Email: violinosuqi@sina.com</a></p>
          </div>
        </div>
      </mat-card-content>
    </div>
  </mat-card>
</div>
