<div id="instrumentContainer">
  <div class="instrumentName">
    <p>Modello Strumento</p>
  </div>
  <div class="instrumentPic">
    <img class="bigPic" src="http://suqiviolin.com/images/violoncello_3.jpg" alt="big instrument picture" />
  </div>
  <div class="bottomInstrumentContainer">
    <div class="instrumentDesc">
      <p class="descTitle">Descrizione dello strumento</p>
      <p>Qui verrà inserita una breve descrizione dello strumento</p>
    </div>
    <div class="instrumentBottom">
      <img
        class="instPicBot"
        src="http://suqiviolin.com/images/violoncello_3.jpg"
        alt="small instrument picture"
      />
      <img
        class="instPicBot"
        src="http://suqiviolin.com/images/violoncello_3.jpg"
        alt="small instrument picture"
      />
      <img
        class="instPicBot"
        src="http://suqiviolin.com/images/violoncello_3.jpg"
        alt="small instrument picture"
      />
      <img
        class="instPicBot"
        src="http://suqiviolin.com/images/violoncello_3.jpg"
        alt="small instrument picture"
      />
    </div>
  </div>
</div>
