#carouselContainer {
  margin-top: 125px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 900px;
  .carousel-inner .carousel-item {
    display: block;
    width: 100%;
    overflow: hidden;
  }
  .carousel-inner img {
      width: 100%;
      height: auto;
    }
}
