#navContainer{
  .listContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #280000;
    height: 50px;
    a {
      text-decoration: none;
      color: white;
    }
    #logoContainer {
      margin-left: 20px;
    }
    #leftSide {
      display: flex;
      justify-content: center;
      align-items: center;
      li {
        margin-left: 20px;
      }
    }
    .dropContainer {
      display: flex;
      align-items: center;
      margin-right: 20px;
      color: white;
    }
    .dropDown{
      color: white;
    }
  }
}
