<div id="violinsContainer">
  <h3>Violins</h3>
  <mat-card class="cardContainer">
    <mat-card-header>
      <mat-card-title class="cardTitle">A.Stradivari 1720 model</mat-card-title>
    </mat-card-header>
    <img mat-card-image class="photo" src="http://suqiviolin.com/images/violoncello_3.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        1st Prize in the second Pisogne National Competition, Iseo Lake, Italy
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="cardContainer">
    <mat-card-header>
      <mat-card-title class="cardTitle">A.Stradivari 1720 model</mat-card-title>
    </mat-card-header>
    <img mat-card-image class="photo" src="http://suqiviolin.com/images/violoncello_3.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        1st Prize in the second Pisogne National Competition, Iseo Lake, Italy
      </p>
    </mat-card-content>
  </mat-card>
</div>
